<meta charset="UTF-8">
<title>Movies</title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Banner Section -->
<section class="sectionOne">
  <img class="bannerImg" src="../../assets/MovieImg/PantherImg/black-panther-wakanda-forever-web.jpg" alt="Black Panther: Wakanda Forever Banner">
</section>

<!-- Social Media Links -->
<ul>
  <li>
    <a class="facebook" href="https://www.facebook.com/BlackPantherMovie">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="https://twitter.com/theblackpanther">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="https://www.instagram.com/blackpanther">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- Video Section -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_Z3QKkl1WyM" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Overview Section -->
<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    Queen Ramonda (Angela Bassett), Shuri (Letitia Wright), M'Baku (Winston Duke), Okoye (Danai Gurira) and the Dora
    Milaje (including Florence Kasumba), fight to protect their nation from intervening world powers in the wake of King
    T'Challa's death. As the Wakandans strive to embrace their next chapter, the heroes must band together with the help of War Dog
    Nakia (Lupita Nyong'o) and Everett Ross (Martin Freeman) and forge a new path for the kingdom of Wakanda.
  </p>
</div>

<!-- Cover Image Section -->
<div class="cover">
  <img src="../../assets/MovieImg/PantherImg/black-panther-wakanda-forever-cover.jpg" alt="Black Panther: Wakanda Forever Cover">
</div>

<!-- Character Cards Section -->
<div class="container">
  <div class="card">
    <img src="../../assets/MovieImg/PantherImg/shuri.jpg" class="characterImg" alt="Shuri">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">SHURI</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/PantherImg/queen-ramonda.jpg" class="characterImg" alt="Queen Ramonda">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">QUEEN RAMONDA</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/PantherImg/namor.jpg" class="characterImg" alt="Namor">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">NAMOR</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/PantherImg/aneka.jpg" class="characterImg" alt="Aneka">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">ANEKA</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/PantherImg/attuma.jpg" class="characterImg" alt="Attuma">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">ATTUMA</h3>
    </div>
  </div>
</div>
