<meta charset="UTF-8">
<title>TV Shows</title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Banner Section -->
<section class="sectionOne">
  <img class="bannerImg" src="../../assets/TvShowsImg/iAmGrootBanner.png" alt="I Am Groot Banner">
</section>

<!-- Social Media Links -->
<ul>
  <li>
    <a class="facebook" href="https://www.facebook.com/DisneyPlus">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="https://twitter.com/disneyplus">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="https://www.instagram.com/disneyplus">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- Video Section -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D7eFpRf4tac" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Overview Section -->
<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    There’s no guarding the galaxy from this mischievous toddler! Get ready as Baby Groot takes center stage in his
    very own collection of shorts, exploring his glory days growing up—and getting into trouble—among the stars.
  </p>
</div>

<!-- Cover Image Section -->
<div class="cover">
  <img src="../../assets/TvShowsImg/iAmGroot.png" alt="I Am Groot Cover">
</div>
