<meta charset="UTF-8">
<title>Movies</title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Banner Section -->
<section class="sectionOne">
  <img class="bannerImg" src="../../assets/MovieImg/GaurdiansImg/guardians-of-the-galaxy-volume-3-web.jpg" alt="Guardians of the Galaxy Volume 3 Banner">
</section>

<!-- Social Media Links -->
<ul>
  <li>
    <a class="facebook" href="https://www.facebook.com/guardiansofthegalaxy">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="https://twitter.com/Guardians">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="https://www.instagram.com/guardiansofthegalaxy">
      <span></span><span></span><span></span><span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- Video Section -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JqcncLPi9zw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Overview Section -->
<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    In Marvel Studios "Guardians of the Galaxy Vol. 3" our beloved band of misfits are looking a bit different these
    days. Peter Quill, still reeling from the loss of Gamora, must rally his team around him to defend the universe along with
    protecting one of their own. A mission that, if not completed successfully, could quite possibly lead to the end of the
    Guardians as we know them.
  </p>
</div>

<!-- Cover Image Section -->
<div class="cover">
  <img src="../../assets/MovieImg/GaurdiansImg/guardians-of-the-galaxy-volume-3-cover.jpg" alt="Guardians of the Galaxy Volume 3 Cover">
</div>

<!-- Character Cards Section -->
<div class="container">
  <div class="card">
    <img src="../../assets/MovieImg/GaurdiansImg/star-lord.jpg" class="characterImg" alt="Star-Lord">
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/GaurdiansImg/rocket.jpg" class="characterImg" alt="Rocket">
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/GaurdiansImg/groot.jpg" class="characterImg" alt="Groot">
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/GaurdiansImg/drax.jpg" class="characterImg" alt="Drax">
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/GaurdiansImg/gamora.jpg" class="characterImg" alt="Gamora">
  </div>
</div>
