<meta charset="UTF-8">
<title>Movies</title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Banner Section -->
<section class="sectionOne">
  <img class="bannerImg" src="../../assets/MovieImg/AntManImg/ant-man-and-the-wasp-quantumania-web.jpg" alt="Ant-Man and the Wasp: Quantumania Banner">
</section>

<!-- Social Media Links -->
<ul>
  <li>
    <a class="facebook" href="https://www.facebook.com/antman">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="twitter" href="https://twitter.com/AntMan">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="https://www.instagram.com/marvelstudios/?ref=Marvel">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- Video Section -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZlNFpri-Y40" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Overview Section -->
<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    In the film, which officially kicks off phase 5 of the Marvel Cinematic Universe, Super-Hero partners Scott Lang and
    Hope Van Dyne return to continue their adventures as Ant-Man and the Wasp. Together, with Hope's parents Hank Pym and Janet
    Van Dyne, the family finds themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an
    adventure that will push them beyond the limits of what they thought was possible. Jonathan Majors joins the adventure as
    Kang.
  </p>
</div>

<!-- Cover Image Section -->
<div class="cover">
  <img src="../../assets/MovieImg/AntManImg/ant-man-and-the-wasp-quantumania-cover.jpg" alt="Ant-Man and the Wasp: Quantumania Cover">
</div>

<!-- Character Cards Section -->
<div class="container">
  <div class="card">
    <img src="../../assets/MovieImg/AntManImg/ant-man.jpg" class="characterImg" alt="Ant-Man">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">ANT-MAN</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/AntManImg/the-wasp.jpg" class="characterImg" alt="The Wasp">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">THE WASP</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/AntManImg/hank-pym.jpg" class="characterImg" alt="Hank Pym">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">HANK PYM</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/AntManImg/janet.jpg" class="characterImg" alt="Janet Van Dyne">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">JANET VAN DYNE</h3>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/MovieImg/AntManImg/kang-the-conqueror.jpg" class="characterImg" alt="Kang the Conqueror">
    <div class="top-bg"></div>
    <div class="info">
      <h3 class="movie-name">KANG THE CONQUEROR</h3>
    </div>
  </div>
</div>
